{% extends layout %}

{% block title %}{{ 'admin.questions.edit.page_title'|trans }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <form class="form form-horizontal" action="{{ path(routes.update, {"id": form.vars.value.id }) }}" method="post">
		<legend>{{ 'admin.questions.edit.page_title'|trans }}
    <small>{{ 'admin.questions.edit.title.comment'|trans }}</small></legend>
		<div class="accordion" id="accordion-question">
            {{ form_errors(form) }}

            {{ form_row(form.quiz) }}
            {{ form_row(form.text) }}
            {{ form_row(form.type) }}
            {{ form_row(form.file) }}
            {{ form_row(form.num_answers) }}
            <hr>
            <div id="answers">
                {% for answer in form.answers %}
					<div class="accordion-group form-content-answer">
			            <div class="pull-right remove">
			                <a class="btn btn-small btn-danger delete" href="#"><i class="icon-remove"></i> {{ 'Delete'|trans }}</a>
			            </div>
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-question" href="#collapse-{{ answer.vars.value.id }}">
							{{ 'Answer'|trans }} #{{ loop.index}}: {{ answer.vars.value.title }}
							</a>
						</div>
						<div id="collapse-{{ answer.vars.value.id }}" class="accordion-body collapse">
							<div class="accordion-inner">
		                        {{ form_row(answer.title) }}
		                        {{ form_row(answer.file) }}
		                        {{ form_row(answer.is_right) }}
		                        {{ form_rest(answer) }}
							</div>
						</div>
					</div>
					{% if false %}
                    <div class="form-content-answer">
                        <a class="btn btn-danger pull-right delete" href="#">{{ 'Delete'|trans }}</a>
                        {{ form_row(answer.title) }}
                        {{ form_row(answer.file) }}
                        {{ form_row(answer.is_right) }}
                        {{ form_rest(answer) }}
                        <hr>
                    </div>
					{% endif %}
                {% endfor %}
				<hr>
            </div>
            <a data-form-template="{{ form_widget(form.answers.vars.prototype)|e }}" class="btn add-form-answer" href="#">{{ 'Add'|trans }}</a>

            {{ form_rest(form) }}

            <script type="text/javascript" charset="utf-8">
                $(document).ready(function () {
                    var bindAddForm = function (parent, name) {
                        $('a.add-form-' + name).click(function (e) {
                            var parentFormText = $('.form-content-' + name);
                            var deleteLink = $('<a>').addClass('btn btn-danger pull-right delete-prototype').attr('href', '#').html('{{ "Delete"|trans }}');
                            var clone = $(this).data('form-template');
                            var newForm = clone.replace(/__name__/g, parentFormText.length);
                            var newFormDiv = $('<div></div>').addClass('form-content-' + name).append(newForm);
                            newFormDiv.prepend(deleteLink);
                            $(parent).append(newFormDiv);
                            $(parent).append(this);
                            $(parent).find('textarea').wysihtml5({
                                "html":true
                            });
                            return false;
                        });
                        $(document).on('click', '.form-content-' + name + ' a.delete', function (e) {
                            $(this).parent().parent().remove();
                            return false;
                        });
                        $(document).on('click', '.form-content-' + name + ' a.delete-prototype', function (e) {
                            $(this).parent().remove();
                            return false;
                        });
                    }
                    bindAddForm('#answers', 'answer');
                });
            </script>
		</div>
        <div class="well">
            <a href="{{ path(routes.index) }}" class="btn">{{ 'Back'|trans }}</a>
            <button name="save" class="submit btn btn-primary">{{ 'Save'|trans }}</button>
            <button name="save_and_return" class="submit btn btn-primary">{{ 'Save and return'|trans }}</button>
        </div>
    </form>

{% endblock %}
