{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block title %}{{ 'quiz.my.page_title'|trans }}{% endblock %}

{% block header %}
    {{ 'quiz.my.page_title'|trans }} <small>{{ 'quiz.my.title.comment'|trans }}</small>
{% endblock %}

{% block breadcrumbs %}
    <ul class="pull-right breadcrumb">
        <li>
            <a href="{{ path("homepage") }}" title="dashboard">Главная</a>
            <span class="divider">/</span>
        </li>
        <li>{{ "Тесты"|trans }}</li>
    </ul>
{% endblock %}

{% block content %}

{% if users_quiz|length or available_quiz|length %}
    <h3>{{ 'quiz.my.active_tests'|trans }}</h3>

    <table class="table table-striped table-bordered">
      <tr>
        <th width="70">{{ 'quiz.index.table.header.status'|trans }}</th>
        <th>{{ 'quiz.index.table.header.quiz'|trans }}</th>
        <th>{{ 'quiz.index.table.header.start'|trans }}</th>
      </tr>
      {% for quiz in users_quiz %}
        <tr>
          <td><span class="label label-warning">{{ 'quiz.quiz.active'|trans }}</span></td>
          <td>{{ quiz.quiz.title }}</td>
          <td width="100">
            <a href="{{ path('smirik_quiz_go', {'uq_id': quiz.id, 'number': quiz.current }) }}" class="btn">{{ 'quiz.index.table.continue_link'|trans }}</a>
          </td>
        </tr>
      {% endfor %}

      {% for quiz in available_quiz %}
        {% if (quiz.id not in active_quiz_ids) %}
        <tr>
          <td><span class="label label-success">{{ 'quiz.quiz.success'|trans }}</span></td>
          <td>{{ quiz.title }}</td>
          <td width="100">
            <a href="{{ path('smirik_quiz_start', { 'quiz_id': quiz.id }) }}" class="btn">{{ 'quiz.index.table.start_link'|trans }}</a>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </table>
{% endif %}

{% if completed_users_quiz %}
    <h3>{{ 'quiz.my.completed_tests'|trans }}</h3>
    {% include "SmirikQuizBundle:Quiz/List:_completed_quiz.html.twig" %}
{% endif %}

{% endblock %}