{% extends 'SmirikQuizBundle::layout.html.twig' %}

{% block title %}{{ 'quiz.start.page_title'|trans }}{% endblock %}

{% block header %}
    {{ 'quiz.start.page_title'|trans }} <small>{{ 'quiz.start.title.comment'|trans }}</small>
{% endblock %}

{% block breadcrumbs %}
    {% include "SmirikCoreBundle:Menu:breadcrumbs.html.twig" with {
        items: [
            {},
            {label: "Тесты", uri: path("smirik_quiz_index")},
            {label: quiz.title, uri: "#"},
        ]}
    %}
{% endblock %}

{% block content %}

<h3>{{ quiz.title }}</h3>

<div class="description">
  {{ quiz.description|raw }}
</div>

<a href="{{ path('smirik_quiz_go', {'uq_id': user_quiz.id, 'number': 0 }) }}" class="btn large">{{ 'quiz.start.start_link'|trans }}</a>

{% endblock %}